.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
.cache
server/dist
public/dist

# Environment files
.env
.env.*
*.env.*
*.local

# Prisma databases and generated directories
*.db
**/prisma/app/generated
**/generated/prisma/
